 /* Landscape - телефоны */
@media (max-width: 480px) { ... }
 
 /* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) { ... }

 /* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) { ... }

@media( max-width: 979px) {
    [class*="-container"] {
        width: 100%;
        max-width: 751px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .about-body {
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-block-text {
        max-width: 100%;
    }
    .about-columns {
        padding-left: 0;
    }
    .services {
        display: flex;
        flex-direction: column;
    }
    .services-head {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .services-head-title {
        align-self: center;
        margin-bottom: 50px;
    }
    .services-head-title::after {
        margin: 10px auto 0;
    }
    .services-head-section-text {
        max-width: 100%;
    }
    .services-columns {
        flex-direction: column;
        row-gap: 16px;
        align-items: stretch;
    }
    .footer-subscribe-form-container {
        padding: 20px;
        flex-direction: column;
    }
    .footer-container { 
        flex-wrap: wrap;
    }
}
