body {
    font-family: "Open Sans",'Segoe UI', Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: #48555B;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}
[class*="-container"] {
    width: 100%;
    max-width: 974px;
    margin: 0 auto;
    padding: 0 16px;
}
.header-top {
    height: 100vh;
    min-height: 533px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 0px 70px;
}
.header-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-family: "Bebas Neue","Comic Sans MS", cursive;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.header-scroll {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-nav {
    border: 1px solid #E6E6E6;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.menu-link {
    padding: 24px 16px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu-link:hover {
    color: #00A4E5;
}
.about {
    min-height: 344px;
    padding: 58px 0 116px 0;
}
.about-title {
    padding-bottom: 58px;
}
.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2px;
    color: #48555B;
    text-align: center;
    text-transform: uppercase;
}
.title::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #00A4E5;
    margin: 10px auto 0;
}
.about-body {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.about-block-text {

}
.about-text-top {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #48555B;
    margin-bottom: 30px;
    padding-right: 70px;
}
.about-text-top span {
    color: #16ACE8;
}
.about-text-bottom {
    font-size: 12px;
    line-height: 24px;
    color: #48555B;
    padding-right: 70px;
}
.about-columns {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-top: 28px;
    padding-left: 10px;
}
.about-column-1 {
    background: url(../img/about-image-1.jpg) center center/cover no-repeat;
}
.about-column-2 {
    background: url(../img/about-image-2.jpg) center center/cover no-repeat;
}
.about-column-3 {
    background: url(../img/about-image-3.jpg) center center/cover no-repeat;
}
.column {
    max-height: 224px;
    width: 100%;
    max-width: 140px;
    padding: 14px 50px 0 14px;
}
.column-text {
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
    text-transform: uppercase;
}
.services {
    padding-bottom: 114px;
}
.services-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 76px;
}
.services-head-title {
    padding-right: 100px;
    text-align: left;
}
.services-head-title::after {
    margin: 10px 0 0 0;
}
.services-head-text {
    max-width: 428px;
    padding-right: 20px;
    font-size: 12px;
    color: #48555B;
}
.button {
    text-align: center;
    font-weight: 700;
    min-width: 150px;
    padding: 12px;
    background: #00A4E5;
    color: #FFFFFF;
    text-transform: uppercase;
}
.services-columns {
    display: flex;
    justify-content: center;
    align-items: stretch;
    column-gap: 26px;
}
.services-column {
    max-width: 295px;
    display: flex;
    flex-direction: column;
    padding: 38px 20px;
    border: 1px solid #E6E6E6;
}
.services-column-image {
    margin-bottom: 25px;
}
.services-column-title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #48555B;
    text-transform: uppercase;
}
.services-column-text {
    min-width: 250px;
    font-size: 12px;
    line-height: 24px;
    color: #48555B;
}
.contacts-form-top {
    background: url(../img/get-in-touch.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 500px;
}
.contacts-form-top-text {
    max-width: 350px;
    text-align: center;
    margin-bottom: 34px;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #48555B;
}
.contacts-form-bottom {
    padding: 30px 0;
    background: #171819;
}
.contacts-form-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-form-form-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 70px;
}
.contacts-form-form-input {
    padding: 12px 16px;
    border: 1px solid #979797;
}
.footer {
    background: #141A20;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company {
    max-width: 250px;
}
.title-footer {
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.footer-logo {
    margin-bottom: 16px;
}
.footer-company-text {
    font-size: 12px;
    color: #FFFFFF;
}
.footer-links-boby {
    display: flex;
    justify-content: space-between;
    column-gap: 34px;
}
.footer-links-link {
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-contacts {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    font-style: inherit;
}
.footer-contacts-adress, .footer-contacts-tel, .footer-contacts-email {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer-contacts-adress, .footer-contacts-tel {
    margin-bottom: 22px;
}
.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 24px;
    padding-top: 16px;
}
.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    padding: 24px 0;
}
