body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: #48555B;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}
[class*="__container"] {
    width: 100%;
    max-width: 974px;
    margin: 0 auto;
    padding: 0 16px;
}
._row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top {
    height: 100vh;
    max-height: 768px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 0px 70px;
}
.header__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    letter-spacing: 6px;
    color: #FFFFFF;
}
.header__subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.header__scroll {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #FFFFFF;
}
.header__nav {
    padding: 24px;
    border: 1px solid #E6E6E6;
}
.menu {
    display: flex;
    column-gap: 40px;
    row-gap: 4px;
    flex-wrap: wrap;
}
.menu__link {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.menu__link:hover {
    font-weight: 700;
    color: #00A4E5;
}
.about {
    min-height: 344px;
    padding: 58px 0 116px 0;
}
.about__title {
    padding-bottom: 58px;
}
.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2px;
    color: #48555B;
    text-align: center;
}
.title::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #00A4E5;
    margin: 10px auto 0;
}
.about__body {
    display: flex;
}
.about__block-text {
    flex: 1 1 42%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.about__text-top {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #48555B;
    margin-bottom: 30px;
}
.about__text-top span {
    color: #16ACE8;
}
.about__text-bottom {
    font-size: 12px;
    line-height: 23px;
    color: #48555B;
}
.about__columns {
    flex: 1 1 50%;
    column-gap: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 28px 0 10px 10px;
}
.about__column-1 {
    background: url(../img/we_plan.png) center center/cover no-repeat;
}
.about__column-2 {
    background: url(../img/we_manage.png) center center/cover no-repeat;
}
.about__column-3 {
    background: url(../img/we_build.png) center center/cover no-repeat;
}
.column {
    max-width: 140px;
    max-height: 224px;
    padding: 14px 50px 0 14px;
}
.column__text {
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
}
.services {
    padding-bottom: 114px;
}
.services__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 76px;
}
.services__head-title {
    padding-right: 150px;
    text-align: left;
}
.services__head-title::after {
    margin: 10px 0 0 0;
}
.services__head-text {
    max-width: 400px;
    padding-right: 20px;
    font-size: 12px;
    color: #48555B;
}
.button {
    text-align: center;
    font-weight: 700;
    min-width: 150px;
    padding: 12px;
    background: #00A4E5;
    color: #FFFFFF;
}
.services__columns {
    display: flex;
    justify-content: center;
    align-items: stretch;
    column-gap: 26px;
}
.services__column {
    max-width: 295px;
    display: flex;
    flex-direction: column;
    padding: 38px 20px;
    border: 1px solid #E6E6E6;
}
.services__column-image {
    margin-bottom: 25px;
}
.services__column-title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #48555B;
}
.services__column-text {
    min-width: 250px;
    font-size: 12px;
    line-height: 23px;
    color: #48555B;
}
.contacts-form__top {
    background: url(../img/get-in-touch.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 500px;
}
.contacts-form__top-text {
    max-width: 350px;
    text-align: center;
    margin-bottom: 34px;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #48555B;
}
.contacts-form__bottom {
    padding: 30px 0;
    background: #171819;
}
.contacts-form__form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-form__form-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 70px;
}
.contacts-form__form-input {
    padding: 11px 16px;
    border: 1px solid #979797;
}
.footer {
    background: #141A20;
}
.footer__container {
    align-items: flex-start;
}
.footer__company {
    max-width: 250px;
}
.title__footer {
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer__logo {
    margin-bottom: 15px;
}
.footer__company-text {
    font-size: 12px;
    color: #FFFFFF;
}
.footer__links-boby {
    display: flex;
    justify-content: space-between;
    column-gap: 34px;
}
.footer__links-link {
    font-size: 12px;
    color: #FFFFFF;
}
.footer__contacts {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    font-style: inherit;
    padding-right: 42px;
}
.footer__contacts-adress, .footer__contacts-tel, .footer__contacts-emal {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer__contacts-adress, .footer__contacts-tel {
    margin-bottom: 22px;
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 24px;
    padding-top: 16px;
}
.footer__bottom {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    padding: 24px 0;
}
